<%- include('../partials/head') %>

<h1>Our Pigs</h1>

<a href="/pigs/new"><button>Create a Pig</button></a>

<ul>
    <% pigs.forEach((pig, index) => { %>
    
        <li>
            <a href="/pigs/<%= index %>"><h2><%= pig.name %></h2></a>
            <h3><%= pig.age %></h3>
        </li>
    
    <% }) %>
</ul>