<%- include('../partials/head') %>

<form action="/pigs" method="post">
    <label>NAME: <input type="text" name="name"></label>
    <label>AGE: <input type="number" name="age"></label>
    <input type="submit" value="Create New Pig">
</form>